.btn {
  height: fit-content;
  border: none;
  color: white;
  background: $orange;
  max-height: 62px;
  display: flex;
  align-items: center;
  border-radius: 0;
  justify-content: center;
  &:hover,
  &:active,
  &:focus {
    background: $orange;
    color: white;
  }
  &-white {
    box-shadow: -8px 8px 0px white;
    &:active {
      box-shadow: -8px 8px 0px white !important;
    }
  }
  &-black {
    box-shadow: -8px 8px 0px white;
    background: #000;
    &:active {
      box-shadow: -8px 8px 0px white !important;
    }
    &:hover,
    &:active,
    &:focus {
      background: #000;
    }
  }
  &:disabled {
    background: #8d8d8d;
    box-shadow: -8px 8px 0px #363636;
    color: #777777;
    &:hover,
    &:active,
    &:focus {
      background: #8d8d8d;
      box-shadow: -8px 8px 0px #363636;
    }
  }
  &-md {
    padding: 20px;
  }
  &-sm {
    padding: 10px;
    width: 145px;
    @include b('mobile') {
      width: auto;
      box-shadow: -4px 4px 0px white;
    }
  }
  &-lg {
    padding: 20px 60px;
  }
  &-orange {
    box-shadow: none;
  }
  &-outline {
    background: transparent;
    border: 1px solid $orange;
    box-shadow: none !important;
    &:hover {
      background: $orange;
      border-color: $orange !important;
    }
    &:focus,
    &:active {
      border-color: $orange !important;
    }
  }
}
