.ant-progress {
  &-text {
    display: none;
  }
  &-outer {
    padding-right: 0 !important;
  }
  &-inner {
    background: #494949;
  }
  &-bg {
    @include b('mobile') {
      height: 4px !important;
    }
  }
}
