@import '../../styles/vars';
@import '../../styles/mixins/media.scss';
.nft-card {
  padding: 20px;
  background: $gray;
  position: relative;
  max-width: 498px;
  clip-path: polygon(0 0, 100% 0, 100% 45px, 100% 100%, 6% 100%, -229px 0px);
  display: flex;
  @include b('mobile') {
    padding: 0;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0, 100% 45px, 100% 100%, 4% 100%, -137% 0px);
  }
  &__star {
    position: absolute;
    left: 4px;
    top: 4px;
  }
  &__img {
    margin-right: 28px;
    max-width: 160px;
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    @include b('mobile') {
      max-width: unset;
      max-height: 360px;
    }
    img {
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      height: auto;
    }
  }
  &__text {
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 12px;
    @include b('mobile') {
      margin-top: 10px;
    }
    img {
      margin-right: 5px;
    }
  }
  &__btn {
    @include b('mobile') {
      width: 100% !important;
    }
    & + & {
      margin-top: 10px;
    }
  }
  &__info {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    &-item {
      &-title {
        margin-bottom: 2px;
      }
      & + & {
        text-align: right;
      }
    }
  }
  &__content {
    width: 100%;
    @include b('mobile') {
      padding: 16px;
    }
  }
  &__progress {
    margin-bottom: 13px;
    &-content {
      display: flex;
      align-items: center;
      margin-bottom: -10px;
      margin-top: 4px;
      justify-content: space-between;
    }
    &-text {
      max-width: 180px;
      @include b('mobile') {
        max-width: unset;
      }
    }
  }
}
